@model Categoria

<form id="formCadastrarCategoria" onsubmit="categoria.Cadastrar()">
  <fieldset>
        <div class="border-bottom border-1 border-secondary mt-5">
            <h4 class="text-white-50">Criar categoria</h4>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" asp-for="Nome">Nome</label>
            <input type="text" asp-for="Nome" class="form-control" placeholder="Qual o nome da sua nova categoria?">
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="form-label mt-4">Descricao</label>
            <textarea class="form-control" asp-for="Descricao" placeholder="Agora faça uma boa descrição..." rows="3" style="height: 17px;"></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Grupo" class="col-form-label mt-4">Grupo</label>
            <input type="text" asp-for="Grupo" class="form-control" placeholder="Qual o objetivo desta categoria? Exemplo: Reserva de Emergência, Lazer, Saúde...">
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-success" style="width:150px">Criar</button>
            <a asp-controller="Categoria" asp-action="Index" class="btn btn-secondary" style="width:150px">
                Voltar para lista
            </a>
        </div>
    </fieldset>
</form>

<script src="~/js/Pages/categoria.js" asp-append-version="true"></script>
<script>
    categoria.init({
        urls: {
            cadastrar: '@Url.Action("Cadastrar", "Categoria")'
        }
    });
</script>
